{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mains/stylesheet/menu.css' %}">
    <link rel="stylesheet" href="{% static 'mains/stylesheet/content.css' %}">

    <style>
    </style>
{% endblock  %}

{% block content %}

{% comment %} 메뉴 바 {% endcomment %}
<div class="container">
  <div class="mt-5">
    <table class="table table-hover text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Stack</th>
          <th scope="col">Count</th>
          <th scope="col">More</th>
          <th scope="col">More</th>
        </tr>
      </thead>
      <tbody>
        {% for item in stk_rank %}
          {% if forloop.counter|divisibleby:2 == 0 %}
            <tr class="table-secondary">
          {% else %}
            <tr class="table-success">
          {% endif %}
            <th scope="row">{{forloop.counter}}</th>
            
              <td><img src="/media/{{item.img}}" width="30px"></td>
            
              <td><img src="/media/icon/dummy.png" width="30px"></td>
            
            {% comment %} <td>{{item.img}}</td> {% endcomment %}
            <td>{{item.name}}</td>
            <td>{{item.wants_stacks__count}}</td>
            <td><a href="{{item.stackshareLink}}">More Info</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>




      <!-- Everything below this is part of the menu-->
    </div>
    <div class="button_container" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
    <div class="overlay" id="overlay">
      <nav class="overlay-menu">
        <ul>
          <li><a href="{% url 'mains:index' %}">Home</a></li>
          <li><a href="{% url 'mains:rank' %}">순위보기</a></li>
          <li><a href="{% url 'mains:content' %}">Content</a></li>
          <li><a href="{% url 'mains:insite' %}">Insite</a></li>
        </ul>
      </nav>
    </div>

{% endblock  %}

{% block javascript %}
  <script>
  $('#toggle').click(function() {
    $(this).toggleClass('active');
    $('#overlay').toggleClass('open');
    });


  {% comment %} table {% endcomment %}
  $(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
{% endblock  %}