{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mains/stylesheet/menu.css' %}">
    <link rel="stylesheet" href="{% static 'mains/stylesheet/content.css' %}">

    <style>
    </style>
{% endblock  %}

{% block content %}
  <div class="container col-8">
    <div class="input-group mt-5 d-flex justify-content-between col-10">
      <div class="col-6">
        <input type="text" class="form-control" placeholder="언어 필터" aria-label="Recipient's username" aria-describedby="basic-addon2">
      </div>
      <div class="col-6">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>

    <div class="mt-5">
      <table class="table table-hover text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Stack</th>
            <th scope="col"></th>
            <th scope="col">Count</th>
            <th scope="col">More</th>
          </tr>
        </thead>
        <tbody>
          {% for item in stk_rank %}
            {% if forloop.counter|divisibleby:2 == 0 %}
              <tr class="table-secondary">
            {% else %}
              <tr class="table-success">
            {% endif %}
              <th scope="row">{{forloop.counter}}</th>
              
                <td><img src="/media/{{item.img}}" width="30px"></td>
              
              {% comment %} <td>{{item.img}}</td> {% endcomment %}
              <td>{{item.name}}</td>
              <td>{{item.wants_stacks__count}}</td>
              <td><a href="{{item.stackshareLink}}">More Info</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock  %}

{% block javascript %}
  <script>
  $('#toggle').click(function() {
    $(this).toggleClass('active');
    $('#overlay').toggleClass('open');
    });


  {% comment %} table {% endcomment %}
  $(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
{% endblock  %}