{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mains/stylesheet/menu.css' %}">
    <link rel="stylesheet" href="{% static 'mains/stylesheet/insite.css' %}">
{% endblock  %}

{% block content %}
{% comment %} 이미지 출력 {% endcomment %}
<div class="container p-0">
  <div class="btn-group m-3 col-4 btn-Primary">
  <button id="dropdown-show" class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    언어 선택
  </button>
  <div class="dropdown-menu">
    <span class="dropdown-item" data-str="Javascript" data-img="javascriptgraph.png">Javascript</span>
    <span class="dropdown-item" data-str="Java" data-img="javagraph.png">Java</span>
    <span class="dropdown-item" data-str="Python" data-img="pythongraph.png">Python</span>
    <span class="dropdown-item" data-str="C" data-img="cgraph.png">C</span>
    <span class="dropdown-item" data-str="C#" data-img="csharpgraph.png">C#</span>
    <span class="dropdown-item" data-str="C++" data-img="cplusgraph.png">C++</span>
    <span class="dropdown-item" data-str="Go" data-img="gograph.png">Go</span>
    <span class="dropdown-item" data-str="Ruby" data-img="rubygraph.png">Ruby</span>
    <span class="dropdown-item" data-str="Typescript" data-img="typescriptgraph.png">Typescript</span>
    <span class="dropdown-item" data-str="Php" data-img="phpgraph.png">Php</span>
    <span class="dropdown-item" data-str="Scala" data-img="scalagraph.png">Scala</span>
    <span class="dropdown-item" data-str="Rust" data-img="rustgraph.png">Rust</span>
    <span class="dropdown-item" data-str="Kotlin" data-img="kotlingraph.png">Kotlin</span>
    <span class="dropdown-item" data-str="Swift" data-img="swiftgraph.png">Swift</span>
    <span class="dropdown-item" data-str="Shell" data-img="shellgraph.png">Shell</span>
  </div>
</div>
  <div class="main-img m-3 mb-5">
    <img src="{% static 'mains/images/insite.jpg' %}" id="current">
  </div>
</div>


{% endblock  %}

{% block javascript %}
    <script>
    // 메뉴바
    $('#toggle').click(function() {
        $(this).toggleClass('active');
        $('#overlay').toggleClass('open');
        });

    const current = document.querySelector('#current');
    const dropdown_show = document.querySelector('#dropdown-show')
    const dropdown_items = document.querySelectorAll('.dropdown-item')
    const img_src = "{% static 'mains/images/' %}"

    dropdown_items.forEach( (dropdown_item) => {
      dropdown_item.addEventListener('click', (event) => {
        var targetId = event.target.dataset.str
        var targetimg = event.target.dataset.img
        dropdown_show.innerText = targetId
        
        current.src = img_src+targetimg;
        console.log(current.src)
      })
    } )
    </script>


{% endblock  %}