{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'mains/stylesheet/nav.css' %}">
{% endblock  %}

{% block content %}
  <div class="container">
    <div class ="d-flex justify-content-center align-items-center h-100 ">
      <h1>메뉴를 선택해 주세요</h1>
      <h3>↗↗↗</h3>
      {% comment %} align-self-center {% endcomment %}


    </div>
  </div>

{% endblock  %}


{% block javascript %}
<script>
$('#toggle').click(function() {
   $(this).toggleClass('active');
   $('#overlay').toggleClass('open');
  });
</script>
{% endblock  %}