{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'mains/stylesheet/nav.css' %}">
{% endblock  %}

{% block content %}
  <div class="container h-75">
    <div class ="d-flex justify-content-center align-items-center h-100 row m-5">
      
      {% comment %} align-self-center {% endcomment %}


      <div id="chartdiv" class="h-100 col-10 bg-dark rounded" style="opacity: 0.8"></div>
    </div>
    
  </div>
{% endblock  %}


{% block javascript %}
<!-- Resources -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script>
$('#toggle').click(function() {
   $(this).toggleClass('active');
   $('#overlay').toggleClass('open');
  });
window.onload = function(){
  am4core.ready(function() {

  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end

  var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
  chart.fontFamily = "Courier New";
  var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
  series.randomness = 0.1;
  series.rotationThreshold = 0.5;

  axios.get(`/mains/content/json`)
    .then( (res)=>{
      //console.log(res.data)
      series.data = res.data
    } ).catch()

  series.dataFields.word = "name";
  series.dataFields.url = "webpage";
  series.dataFields.value = "posted_recruit__count";

  series.heatRules.push({
  "target": series.labels.template,
  "property": "fill",
  "min": am4core.color("#ffff99"),
  "max": am4core.color("#CC00CC"),
  "dataField": "value"
  });

  //series.labels.template.url = "https://stackshare.io/{word}";
  series.labels.template.urlTarget = "_blank";
  series.labels.template.tooltipText = "{word}: {value}";

  var hoverState = series.labels.template.states.create("hover");
  hoverState.properties.fill = am4core.color("#FF0000");

  /* var subtitle = chart.titles.create();
  subtitle.text = "(click to open)";

  var title = chart.titles.create();
  title.text = "Most Popular Tags @ StackOverflow";
  title.fontSize = 50;
  title.fontWeight = "800"; */

  }); // end am4core.ready()
}
</script>
{% endblock  %}