{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mains/stylesheet/nav.css' %}">
    <link rel="stylesheet" href="{% static 'mains/stylesheet/rank.css' %}">
{% endblock  %}

{% block content %}
    {% comment %} <div class="container"> {% endcomment %}
      
{% comment %} rank page {% endcomment %}

<div class="timeline-container" id="timeline-1">
  <div class="timeline-header">
    <h2 class="timeline-header__title">Language Ranking</h2>
    <h3 class="timeline-header__subtitle">2020.06.20</h3>
  </div>
  <div class="timeline">
  {% for item in stk_rank %}
    <div class="timeline-item" data-text="FATHER OF THE TURKS">
      <div class="timeline__content"><img class="timeline__img" src="/media/{{item.img}}"/>
      {% comment %} http://i.cdn.ensonhaber.com/resimler/diger/ataturk_3473.jpg {% endcomment %}
        <h2 class="timeline__content-title">Rank {{forloop.counter}}</h2>
        <p class="timeline__content-desc">{{item.detail}}</p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<div class="demo-footer"><a href="http://www.turkishnews.com/Ataturk/life.htm" target="_blank">Source/Kaynak</a></div>

{% endblock  %}


{% block javascript %}
<script>
$('#toggle').click(function() {
   $(this).toggleClass('active');
   $('#overlay').toggleClass('open');
  });

(function($) {
  $.fn.timeline = function() {
    var selectors = {
      id: $(this),
      item: $(this).find(".timeline-item"),
      activeClass: "timeline-item--active",
      img: ".timeline__img"
    };
    selectors.item.eq(0).addClass(selectors.activeClass);
    selectors.id.css(
      "background-image",
      "url(" +
        selectors.item
          .first()
          .find(selectors.img)
          .attr("src") +
        ")"
    );
    var itemLength = selectors.item.length;
    $(window).scroll(function() {
      var max, min;
      var pos = $(this).scrollTop();
      selectors.item.each(function(i) {
        min = $(this).offset().top;
        max = $(this).height() + $(this).offset().top;
        var that = $(this);
        if (i == itemLength - 2 && pos > min + $(this).height() / 2) {
          selectors.item.removeClass(selectors.activeClass);
          selectors.id.css(
            "background-image",
            "url(" +
              selectors.item
                .last()
                .find(selectors.img)
                .attr("src") +
              ")"
          );
          selectors.item.last().addClass(selectors.activeClass);
        } else if (pos <= max - 40 && pos >= min) {
          selectors.id.css(
            "background-image",
            "url(" +
              $(this)
                .find(selectors.img)
                .attr("src") +
              ")"
          );
          selectors.item.removeClass(selectors.activeClass);
          $(this).addClass(selectors.activeClass);
        }
      });
    });
  };
})(jQuery);

$("#timeline-1").timeline();
</script>
{% endblock  %}