{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mains/stylesheet/menu.css' %}">
{% endblock  %}

{% block content %}
  <div class="container col-10">
    <div class="mt-5">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th class ="text-center" scope="col">회사 명</th>
            <th class ="text-center" scope="col">공고명</th>
            <th class ="text-center" scope="col">모집직종</th>
            <th class ="text-center" scope="col" colspan="2">경력</th>
            <th class ="text-center" scope="col">게시일</>
          </tr>
        </thead>
        <tbody>
          {% for item in recruits %}
            {% if forloop.counter|divisibleby:2 == 0 %}
              <tr class="table-secondary">
            {% else %}
              <tr class="table-success">
            {% endif %}
              <td>{{item.posting_company.first.name}}</td>
              {% comment %} <td>{{item.id}}</td> {% endcomment %}
              <td><a href="{{item.recruit_page}}">{{item.title}}</a></td>
              <td>{{item.carear}}</td>
              {% if item.carear_start == 0 and item.carear_end == 10 %}
                <td class ="text-center" colspan="2">경력 무관</td>
              {% elif item.carear_start == 0 and item.carear_end == 0 %}
                <td class ="text-center" colspan="2">신입</td>
              {% else %}
                <td class ="text-center">{{item.carear_start}}</td>
                <td class ="text-center">{{item.carear_end}}</td>
              {% endif %}
              <td class ="text-center">{{item.created_at|date:"Y년 F j일"}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock  %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  $('#toggle').click(function() {
    $(this).toggleClass('active');
    $('#overlay').toggleClass('open');
    });
  {% comment %} table {% endcomment %}
  $(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
{% endblock  %}